@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
}



body {
    background: rgb(251,203,52);
    background: radial-gradient(circle, rgba(251,203,52,1) 0%, rgba(20,28,36,1) 100%);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0;
}
main {
}


.glitch {
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 6px;
    cursor: default;
    position: relative;
}
.lead {
    cursor: default;
}
.contenedor {
    display: flex;
    gap: 75px;
}



.btn {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    color: #fff;
    letter-spacing: 3px;
}

.btn-1 {
    position: relative;
    transition: all 0.6s ease; 
    color: #fff;
    z-index: 1;
}
.btn-1:hover {
    color: #fbcb34;
}

/* palito deslizable antes */
.btn-1::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    left: -10px;
    top: 0;
    background-color: #fff;
    transform: skew(20deg, 0deg);
    transition: all 0.4s ease;
}
/* BORDE */
.btn-1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 1px solid #fff;
    transition: all 0.4s ease;
    z-index: -1;
}

/* PALITO DESLIZABLE */
.btn-1:hover::after{
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(1040%);
}
/* FONDO FINAL */
.btn-1:hover::before{
    background-color: #141c24;
    border: 3px solid #fbcb34;
    transform: skew(20deg, 0deg) scale(1.1);
}

.btn-d {
    transition: all 0.6s ease; 
    color: #fff;
    z-index: 1;
}
.btn-d:hover {
    color: #7289da;
}

/* palito deslizable antes */
.btn-d::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    left: -10px;
    top: 0;
    background-color: #fff;
    transform: skew(20deg, 0deg);
    transition: all 0.4s ease;
}
/* BORDE */
.btn-d::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 1px solid #fff;
    transition: all 0.4s ease;
    z-index: -1;
}

/* PALITO DESLIZABLE */
.btn-d:hover::after{
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(1040%);
}
/* FONDO FINAL */
.btn-d:hover::before{
    background-color: #141c24;
    border: 3px solid #7289da;
    transform: skew(20deg, 0deg) scale(1.1);
}




.btn-1-y {
    transition: all 0.6s ease; 
    color: #fff;
    z-index: 1;
}
.btn-1-y:hover {
    color: #d71e18;
}

/* palito deslizable antes */
.btn-1-y::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    left: -10px;
    top: 0;
    background-color: #fff;
    transform: skew(20deg, 0deg);
    transition: all 0.4s ease;
}
/* BORDE */
.btn-1-y::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 1px solid #fff;
    transition: all 0.4s ease;
    z-index: -1;
}

/* PALITO DESLIZABLE */
.btn-1-y:hover::after{
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(1040%);
}
/* FONDO FINAL */
.btn-1-y:hover::before{
    background-color: #141c24;
    border: 3px solid #d71e18;
    transform: skew(20deg, 0deg) scale(1.1);
}

.button.is-blurple {
    background-color: #7289da;
    border-color: transparent;
    color: #fff;
}
.button.is-medium {
    font-size: 1.25rem;
}
a {
    color: #0d6efd;
    text-decoration: none;
}
.button  {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    border-radius: 4px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}
.button:hover {
    background-color: #5f72b5;
}

.linkcarousel {
    font-weight: bold;
    color: white;
}
.linkcarousel:hover {
    color: #fbcb34 !important;
    transition: .5s;
}

.row figure .fa-brands {
    position: absolute;
        top: 11%;
        right: 1%;
        width: 100%;
        color: #fff;
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
}
.row figure:hover > .fa-brands {
    color: red;
    opacity: 1;
    visibility: visible;
}

.row figure:hover > .fa-brands {
    margin-top: 70px;
    margin-bottom: 15px;
    transform: scale(1.7);
}


.videoyt {
    transition: 1s;
}
.videoyt:hover {
    transition: 1s;
    transform: scale(1.1);
}

.text-muted {
    text-align: center;
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}





.btn-2 {
    transition: all 0.6s ease; 
    color: #fff;
    z-index: 1;
}
.btn-2:hover {
    color: #7289da;
}

/* palito deslizable antes */
.btn-2::after{
    content: "";
    position: absolute;
    width: 7%;
    height: 100%;
    left: -10px;
    top: 0;
    background-color: #fff;
    transform: skew(20deg, 0deg);
    transition: all 0.4s ease;
}
/* BORDE */
.btn-2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 1px solid #fff;
    transition: all 0.4s ease;
    z-index: -1;
}

/* PALITO DESLIZABLE */
.btn-2:hover::after{
    background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(1500%);
}
/* FONDO FINAL */
.btn-2:hover::before{
    background-color: #141c24;
    border: 3px solid #7289da;
    transform: skew(20deg, 0deg) scale(1.1);
}



summary {
    list-style: none;
  }
  
  summary {
    cursor: pointer;
  }
  
  .desplegable::before {
    content: '+';
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  details[open] .desplegable::before {
    content: '-';
  }
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
/*
    <!--add animation: gradient 60s ease infinite; to animation gradient, custom gradient here: https://cssgradient.io/
    <style>
      body {
        background: rgb(255,64,129);
background: linear-gradient(150deg, rgba(255,64,129,1) 0%, rgba(63,81,181,1) 21%, rgba(48,63,159,1) 52%);
	background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
    </style>-->
*/
