body {
    background: rgb(255,64,129);
    background: rgb(251,203,52);
    background: radial-gradient(circle, rgba(251,203,52,1) 0%, rgba(20,28,36,1) 100%);
}


.linkcarousel {
    color: white;
}
.linkcarousel:hover {
    color: #fbcb34 !important;
    transition: .5s;
}

.row figure .fa-brands {
    position: absolute;
        top: 11%;
        right: 1%;
        width: 100%;
        color: #fff;
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
}
.row figure:hover > .fa-brands {
    color: red;
    opacity: 1;
    visibility: visible;
}

.row figure:hover > .fa-brands {
    margin-top: 70px;
    margin-bottom: 15px;
    transform: scale(1.7);
}


.videoyt {
    transition: 1s;
}
.videoyt:hover {
    transition: 1s;
    transform: scale(1.1);
}



@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}
/*
    <!--add animation: gradient 60s ease infinite; to animation gradient, custom gradient here: https://cssgradient.io/
    <style>
      body {
        background: rgb(255,64,129);
background: linear-gradient(150deg, rgba(255,64,129,1) 0%, rgba(63,81,181,1) 21%, rgba(48,63,159,1) 52%);
	background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
    </style>-->
*/
