@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    font-family: 'Open Sans', sans-serif;
}



body {
    background: rgb(255,64,129);
    background: rgb(251,203,52);
    background: radial-gradient(circle, rgba(251,203,52,1) 0%, rgba(20,28,36,1) 100%);
}


.glitch {
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 6px;
    cursor: default;
    position: relative;
}
.lead {
    cursor: default;
}
.contenedor {
    display: flex;
    gap: 75px;
}

.btn {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    color: #fff;
    letter-spacing: 3px;
}

.btn-1 {
    transition: all 0.6s ease; 
    color: #fff;
    z-index: 1;
}
.btn-1:hover {
    color: #fbcb34;
}

/* palito deslizable antes */
.btn-1::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    left: -10px;
    top: 0;
    background-color: #fff;
    transform: skew(20deg, 0deg);
    transition: all 0.4s ease;
}
/* BORDE */
.btn-1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 1px solid #fff;
    transition: all 0.4s ease;
    z-index: -1;
}

/* PALITO DESLIZABLE */
.btn-1:hover::after{
    background-color: #fbcb3441;
    transform: skew(20deg, 0deg) translateX(1050%);
}
/* FONDO FINAL */
.btn-1:hover::before{
    background-color: #141c24;
    border: 3px solid #fbcb34;
    transform: skew(20deg, 0deg) scale(1.1);
}




.linkcarousel {
    color: white;
}
.linkcarousel:hover {
    color: #fbcb34 !important;
    transition: .5s;
}

.row figure .fa-brands {
    position: absolute;
        top: 11%;
        right: 1%;
        width: 100%;
        color: #fff;
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
}
.row figure:hover > .fa-brands {
    color: red;
    opacity: 1;
    visibility: visible;
}

.row figure:hover > .fa-brands {
    margin-top: 70px;
    margin-bottom: 15px;
    transform: scale(1.7);
}


.videoyt {
    transition: 1s;
}
.videoyt:hover {
    transition: 1s;
    transform: scale(1.1);
}

.text-muted {
    text-align: center;
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

/*
    <!--add animation: gradient 60s ease infinite; to animation gradient, custom gradient here: https://cssgradient.io/
    <style>
      body {
        background: rgb(255,64,129);
background: linear-gradient(150deg, rgba(255,64,129,1) 0%, rgba(63,81,181,1) 21%, rgba(48,63,159,1) 52%);
	background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
    </style>-->
*/
